/**{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;}*/
    body{
        font-family: 'DM Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;}
/*header*/
.header, .footer{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;}
.container{
    width: 1070px;
    margin: 0 auto;}
.header_flex, .footer_flex, .container_about, .container_subscription, .plan_flex{ 
    display: flex;
    justify-content: space-between;
    align-items: center;}
.nav{}
.nav_li{
    display: inline-block;
    margin-left: 49px;}
.nav_li:not(:first-of-type){
margin-left: 49px;}
.nav_link{
font-weight: bold;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.48947[x];
color: #696871;
text-decoration: none;}
.nav_link:hover{
    color: black;
    transition: 300ms;}
.button{
    width: 232px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;}
.button_orang{
    background: #FF7143;}
.button_orang:hover{
    transition: 500ms;}
  /*section_1*/  
  .container_about {
       margin: 104px auto 85px;}
.about_title{
font-weight: bold;
font-size: 80px;
line-height: 77px;
letter-spacing: -2.50105px;
color: #19191B;
max-width: 467px;
margin-bottom: 30px;}
.about_tex{
font-size: 20px;
line-height: 30px;
letter-spacing: -0.625263px;
color: #696871;
max-width: 410px;
margin-bottom: 50px;}
.button_violet{
    background-color: #5454D4;
    padding: 20px 30px;
    margin: 20px 30px;
    cursor: pointer;}
.button_transporent {
    background-color: none;
    cursor: pointer;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;}
   /*section_2*/ 
  .about_index{
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    width: 556px;
    height: 57px;
    color: #19191B;
    margin-bottom: 38px;}
  .input{
    border: 1px solid #7087FF;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 302px;
    height: 60px;
padding-left: 14px;
margin-right: 39px;}
.input::placeholder{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;}
.input:focus{
    outline:none;}
.container_subscription{
     margin-bottom: 85px;}  
 /*section_3*/ 
    .container_plan{
     margin-bottom: 132px;}   
    .about_Get{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;}
        .item{
        width: 330px;
        background: #F8F8F8;
        border-radius: 10px;
        text-align: center;
        padding: 34px 0 27px;}
        .item:hover{
            background: #FF7143;
            transition: 500ms;
            box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);}
     .item_tex{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.562737px;
        color: #696871;}
        .item:hover .item_tex, .item:hover .item_titel{
            color: white;}
      .item_titel{
        font-weight: bold;
        font-size: 60px;
        line-height: 56px;       
        letter-spacing: -1.03448px;
        color: #1D293F;
        margin: 22px 0 28px;}
       .item_titel span{
        font-size: 28px;} 
       .item_li{
        font-weight: normal;
        font-size: 17px;
        line-height: 50px;
        text-align: center;
        letter-spacing: -0.531474px;
        color: #696871;} 
        .item:hover .item_li{
            color: white;}
        .button_item {
            width: 285px;
            background: white;
            color:#5454D4;
            margin-top: 36px;} 
         .item:hover .button_item{
             background: #9F3919;
             color: white;
             transition: 500ms;}        
      
/*footer*/
.footer{
    padding: 53px 0;}

   