*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;}
.header, .footer{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;}
.container{
    width: 1070px;
    margin: 0 auto;}
.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;}
.nav{}
.nav_li{
    display: inline-block;
    margin-left: 49px;}
.nav_li:not(:first-of-type){
margin-left: 49px;}
.nav_link{
font-weight: bold;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.48947[x];
color: #696871;
text-decoration: none;}
.nav_link:hover{
    color: black;
    transition: 300ms;}
.button{
    width: 232px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;}
.button_orang{
    background: #FF7143;}
.button_orang:hover{
    transition: 500ms;}
.container_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 104px auto 85px;}
.about_title{
font-weight: bold;
font-size: 80px;
line-height: 77px;
letter-spacing: -2.50105px;
color: #19191B;
max-width: 467px;
margin-bottom: 30px;}
.about_tex{
font-size: 20px;
line-height: 30px;
letter-spacing: -0.625263px;
color: #696871;
max-width: 410px;
margin-bottom: 50px;}
.button_violet{
    background-color: #5454D4;
    padding: 20px 30px;
    margin: 20px 30px;
    cursor: pointer;}
.button_transporent {
    background-color: none;
    cursor: pointer;
    color: #5454D4;
    border: 1px solid #5454D4;
margin-left: 35px;}
.footer{
    padding: 53px 0;}
.footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;}
